@model TopMenuViewModel


<nav id="top-menu">
    <a href="mailto:@Model.MailTo" class="contact.email">@Model.MailTo</a>

    @if (SignInManager.IsSignedIn(User))
    {
        <div class="social">
            <a>@User.Identity?.Name</a>

        </div>
    }
    else
    {
           <div class="social">
        @foreach(var social in @Model.SocialMedia)
        {
           <a href="@social.Value">@social.Key</a>
        }

    </div> 
    }

</nav>